# Carpetas de configuración de VS
.vs/
.vscode/

# Archivos de usuario
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de caché e índices
*.vsidx

# Archivos de compilación
bin/
obj/
TPWINFORM_Equipo-17B/.vs/TPWINFORM_Equipo-17B/v17/.suo
TPWINFORM_Equipo-17B/.vs/TPWINFORM_Equipo-17B/v17/DocumentLayout.backup.json
TPWINFORM_Equipo-17B/.vs/TPWINFORM_Equipo-17B/v17/.suo
TPWINFORM_Equipo-17B/.vs/TPWINFORM_Equipo-17B/v17/DocumentLayout.backup.json
TPWINFORM_Equipo-17B/.vs/TPWINFORM_Equipo-17B/v17/DocumentLayout.json
